node_modules/**/*
.expo/*
./service-account-key.json
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
./firebase-config.js
./google-services.json
./service-account-key.json
# macOS
.DS_Store
